* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}
.bgrd{
    background-image: url("/Assets/Img/Account_BG.jpg");
    background-size: 3200px 1600px;
    width: 100%;
    height: 100%;
    --x: 0px;
    --y: 0px;
    background-position: var(--x) var(--y);
    z-index: -1;
  }

.bgrd2{
    background-image: url("/Assets/Img/Account_BG_wash.jpg");
    background-size: 3200px 1600px;
    width: 100%;
    height: 100%;
    --x: 0px;
    --y: 0px;
    background-position: var(--x) var(--y);
    z-index: -1;
  }

.limiter {
    width: 100%;
    margin: 0 auto;
    
}
  
.container {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center; 
    
}
  
.wrap {
    width: 25%;
    height : 75vh;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    /*padding: 77px 55px 33px 55px;*/
    padding-left : 50px;
    padding-right: 50px;
    padding-top : 10px;
    padding-bottom : 10px;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}




/*******************************************/
/*Internal Layout
/*******************************************/
/*.login_logo .login_title .login_password .login_doctor .login_doctor_fpw .login_btn .login_reg*/
.login_logo {
    text-align: center;
}

.login_title{
    text-align: center;
    font-size : 24px;
    position : relative;
}

.login_id{
    /*text-align: center;
    padding-top : 20px;*/
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.login_pw{
    /*text-align: center;
    padding-top : 20px;*/

    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.login_doctor_fpw{
    text-align: center;
    padding-top : 20px;
}

.login_btn{
    padding-top : 70px;
    text-align: center;
}

.login_reg{
    padding-top : 20px;
    text-align: center;
    margin-top : 40px;
}


/*********************************************************/
body{
    flex-direction: column;
}
.wrap_AboutUs{
    width : 90%;
    min-height : Calc(100vh - 200px);
    /*background : white;*/
    opacity: 100%;
    overflow: hidden;
    padding-top : 100px;
    padding-bottom : 100px;
    
}

.AboutUs_Upper .AboutUs_Lower{
    position : absolute;
    
}

.AboutUs_UpLeft{
    width : 30%;
    background : none;
    display: inline-block;
    text-align: center;
}

.AboutUs_UpMiddle{
    width : 30%;
    background : none;
    display: inline-block;
    text-align: center;
}
.AboutUs_UpRight{
    width : 30%;
    background : none;
    display: inline-block;
    text-align: center;
}

.AboutUs_LowerLeft{
    width : 35%;
    background : none;
    display: inline-block;
    text-align: center;
}

.AboutUs_LowerMiddle{
    width : 20%;
    background : none;
    display: inline-block;
    text-align: center;
}

.AboutUs_LowerRight{
    width : 35%;
    background : none;
    display: inline-block;
    text-align: center;
}

.AboutUs_DevLead {
    width : 30%;
    background : none;
    display: inline-block;
    text-align: center;

}

.AboutUs_DevFront {
    width : 30%;
    background : none;
    display: inline-block;
    text-align: center;
}

.AboutUs_DevBack {
    width : 30%;
    background : none;
    display: inline-block;
    text-align: center;
}

.AboutUs_DevRole{
    width : 100%;
    background : none;
}

.AboutUs_DevLeadT {
    float: left;
    font-size : 20;
    width:33.33333%;
    margin-left: 2%;

}

.AboutUs_DevFrontT {
    float : center;
    font-size : 20;
    width:33.33333%;
    
}

.AboutUs_DevBackT {
    float : right;
    font-size : 20;
    width:33.33333%;
    margin-right : 3%;
}
.AboutUs_DevLeadD {
    float: left;
    font-size : 16;
    width:33.33333%;
    text-align: left;
    word-wrap: break-word;

}

.AboutUs_DevFrontD {
    float : center;
    font-size : 16;
    width:33.33333%;
    text-align: left;
    word-wrap: break-word;
}

.AboutUs_DevBackD {
    float : right;
    font-size : 16;
    width:33.33333%;
    text-align: left;
    word-wrap: break-word;
}

.AboutUs_LeaderDec{
    margin-left : 30%;
    margin-top : 5%;
    width : 40%;
    word-wrap: break-word;
    text-align: left;
}

.AboutUs_Logo{
    margin-bottom: 10%;
    margin-left: 20%;
}

.AboutUs_TeamDec{
    text-align: left;
    font-size : 20px;
    margin-bottom: 10%;
}

.AboutUs_DevDec{
    margin-top : 5%;
}

.AboutUs_DevTitle{
    margin-left : 20%;
}

.AboutUs_DevImg{
    margin-top : 5%;
}

.AboutUs_DocQAImg{
    width : 40%;
    background : none;
    display: inline-block;
    text-align: center;
    /*margin-right: 20%;*/
}

.AboutUs_DocTestImg{
    width : 40%;
    /*margin-left : 20%;*/
    background : none;
    display: inline-block;
    text-align: center;
}

.AboutUs_DocQAT {
    float: left;
    font-size : 20;
    width:40%;
    margin-left : 10%;

}

.AboutUs_DocTestT {
    float : right;
    font-size : 20;
    width:40%;
    margin-right : 10%;
    
}


.AboutUs_DocQAD {
    float: left;
    font-size : 16;
    width:40%;
    text-align: left;
    word-wrap: break-word;
    margin-left : 10%;

}

.AboutUs_DocTestD {
    float : right;
    font-size : 16;
    width:40%;
    text-align: left;
    word-wrap: break-word;
    margin-right : 10%;
}

.AboutUs_DocTitle{
    margin-bottom : -30%;
}

/*******************************************/

.wrap_Main{
    width : 90%;
    min-height : Calc(100vh - 200px);
    /*background : white;*/
    opacity: 100%;
    overflow: hidden;
    padding-top : 100px;
    padding-bottom : 100px;
    
}

.Main_test{
    
    width : 49%;
    height : Calc(100vh - 200px);
    background : none;
    display: inline-block;
    text-align: center;
}

.Main_rec{
    width : 49%;
    height : Calc(100vh - 200px);
    background : none;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    
}

/******************************/
.wrap_RateUs{
    width: 30%;
    height : 30vh;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    /*padding: 77px 55px 33px 55px;*/
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    
}

.RateUs_r1{
    border:2px solid  none;
    height:15%;
    text-align : center;
    padding-top : 2%;
}
.RateUs_r2{
    border:2px solid  none;
    height:70%;
    text-align : center;
    padding-top : 5%;
    padding-bottom : 5%;
}
.RateUs_r3{
    border:2px solid  none;
    height:15%;
    text-align : center;
    
}

.RateUs_c1{
    border:2px solid none;
    width:33.3%;
    height : 100% ;
    float : left;
}
.RateUs_r1_p2{
    text-align:  center;
    visibility: hidden;
}

.RateUs_c2{
    border:2px solid none;
    width:33.3%;
    height : 100% ;
    float : left;


}
.RateUs_c3{
    border:2px solid none;
    width:33.3%;
    height : 100% ;
    float : left;

}
div:after{
    content: "";
    display: table;
    clear: both;
}

#overlay_ty{

    width: 30%;
    height : 30vh;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    visibility: hidden;
    top : 35%;
    opacity: 100%;
    transition: 0.5s;
    
    text-align: center;
    z-index : 2;
}
#overlay_ty.active{
    
    visibility: visible;
    opacity: 1;
    transition: 0.5s;

}

/***********************************/
.wrap_Reg{
    width: 25%;
    height : 75vh;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    /*padding: 77px 55px 33px 55px;*/
    padding-left : 50px;
    padding-right: 50px;
    padding-top : 40px;
    padding-bottom : 10px;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}



.reg_r1{
    border:2px solid  none;
    height:5%;
    text-align : center;
}
.reg_r2{
    border:2px solid  none;
    height:20%;
    text-align : center;
}
.reg_r3{
    border:2px solid  none;
    height:10%;
    text-align : center; 
}
.reg_r4{
    border:2px solid  none;
    height:10%;
    text-align : center; 
}
.reg_r5{
    border:2px solid  none;
    height:10%;
    text-align : center; 
}
.reg_r6{
    border:2px solid  none;
    height:10%;
    text-align : center; 
}
.reg_r7{
    border:2px solid  none;
    height:10%;
    text-align : center; 
}
.reg_r8{
    border:2px solid  none;
    height:3%;
    text-align : left; 
}
.reg_r9{
    border:2px solid  none;
    height:5%;
    text-align : center; 
}
.reg_r10{
    border:2px solid  none;
    height:15%;
    text-align : center; 
}

.reg_c1{
    border:2px solid none;
    width:33.3%;
    height : 100% ;
    float : left;
}
.reg_c2{
    border:2px solid none;
    width:33.3%;
    height : 100% ;
    float : left;
}
.reg_c3{
    border:2px solid none;
    width:33.3%;
    height : 100% ;
    float : left;
}
div:after{
    content: "";
    display: table;
    clear: both;
}

/**************************/
.wrap_RST{
    width: 25%;
    height : 30vh;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    /*padding: 77px 55px 33px 55px;*/
    /*padding-left : 50px;*/
    padding-right : 50px;
    padding-top : 10px;
    padding-bottom : 10px;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    z-index : 1;
}

.RST_r1{
    border:2px solid  none;
    height:15%;
    text-align : center;
    padding-left : 50px;
}
.RST_r2{
    border:2px solid  none;
    height:30%;
    text-align : center;
    padding-left : 50px;
}
.RST_r3{
    border:2px solid  none;
    height:8%;
    text-align : left; 
    padding-left : 50px;
}
.RST_r4{
    border:2px solid  none;
    height:15%;
    text-align : center; 
    padding-left : 50px;
}

.RST_r5{
    border:2px solid  none;
    height:30%;
    text-align : center; 
    padding-left : 50px;
}

/******************************/
#overlay_verify{
    width: 25%;
    height : 30vh;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    /*padding-left : 50px;*/
    padding-right : 50px;
    padding-top : 10px;
    padding-bottom : 10px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    visibility: hidden;
    top : 35%;
    opacity: 80%;
    transition: 0.5s;
    text-align: center;
    z-index : 2;
    

}
#overlay_verify.active{
    
    visibility: visible;
    opacity: 1;

}

/**********************************/
.V_r1{
    border:2px solid  none;
    height:15%;
    text-align : center;
    padding-left : 50px;
}
.V_r2{
    border:2px solid  none;
    height:30%;
    text-align : center;
    padding-left : 50px;
}
.V_r3{
    border:2px solid  none;
    height:30%;
    text-align : center;
    padding-left : 50px;
}
.V_r4{
    border:2px solid  none;
    height:15%;
    text-align : center;
    padding-left : 50px;
}

/*************************/
#overlay_success{
    width: 25%;
    height : 30vh;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    /*padding-left : 50px;*/
    padding-right : 50px;
    padding-top : 10px;
    padding-bottom : 10px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    visibility: hidden;
    top : 35%;
    opacity: 80%;
    transition: 0.5s;
    text-align: center;
    z-index : 3;

}
#overlay_success.active{
    
    visibility: visible;
    opacity: 1;

}





