* {
    box-sizing: border-box;
}
.wrap_XXX {
    width : 100%;
    min-height : Calc(100vh - 160px);
    background : none;
    opacity: 100%;
    overflow: hidden;
   /*padding-top : 100px;
    padding-bottom : 100px;*/
    margin: 0 auto;
}

.r1 {
    /*padding-top : 0.75%;
    padding-bottom : 0.75%;*/
    
    background : grey;
    text-align : center;
    font-size: 30px;
    min-height : 5vh;
    position : relative;
    width : 100%;

}

.r2 {
    border : 2px solid blue;
    height : 78vh;
    position : relative;
    /*margin-bottom:10px;*/
    
}


.c3{

}

.c1{
    border:2px solid yellow;
    width:33.3%;
    height:100%;  
    float : left;  
}
.c2{
    border:2px solid yellow;
    width:33.3%;
    height:100%;  
    float : left;  
}
.c3{
    border:2px solid yellow;
    width:33.3%;
    height:100%;  
    float : left;  
}
div:after{
    content: "";
    display: table;
    clear: both;
}

.c2_c1{
    border:2px solid  red;
    height:7%;   
}
.c2_c2{
    border:2px solid  red;
    height:37%;   
}

.c2_c3{
    border:2px solid  red;
    height:7%;   
}
.c2_c4{
    border:2px solid  red;
    height:37%;   
}

.c2_c5l{
    border:2px solid red;
    background : grey;
    width:50%;
    height: 12%;  
    float : left;  
}
.c2_c5r{
    border:2px solid red;
    background : grey;
    width:50%;
    height:12%;  
    float : right;  
}
div:after{
    content: "";
    display: table;
    clear: both;
}

.c1_1{
    border:2px solid  red;
    height:20%;   
}
.c1_2{
    border:2px solid  red;
    height:55%;   
}
.c1_3{
    border:2px solid  red;
    height:25%;   
}

.c3r1{
    border:2px solid  red;
    height:33.3%;
}
.c3r2{
    border:2px solid  red;
    height:33.3%;
}
.c3r3{
    border:2px solid  red;
    height:33.3%;
}

.c3r1_c1{
    border:2px solid red;
    width:50%;
    height : 100% ;
    float : left;
}

.c3r1_c2{
    border:2px solid red;
    width:50%;
    height : 100% ;
    float : right;

}
div:after{
    content: "";
    display: table;
    clear: both;
}
.c3r2_c1{
    border:2px solid red;
    width:50%;
    height : 100% ;
    float : left;
}

.c3r2_c2{
    border:2px solid red;
    width:50%;
    height : 100% ;
    float : right;

}
div:after{
    content: "";
    display: table;
    clear: both;
}

.c3r3_c1{
    border:2px solid red;
    width:50%;
    height : 100% ;
    float : left;
}

.c3r3_c2{
    border:2px solid red;
    width:50%;
    height : 100% ;
    float : right;

}
div:after{
    content: "";
    display: table;
    clear: both;
}

.test_r1 {
    /*padding-top : 0.75%;
    padding-bottom : 0.75%;*/
    
    background : grey;
    text-align : center;
    font-size: 30px;
    min-height : 5vh;
    position : relative;
    width : 100%;

}

.test_r2 {
    border : 2px solid blue;
    height : 71vh;
    position : relative;
    /*margin-bottom:10px;*/
    
}
.test_r3 {
    border : 2px solid blue;
    height : 7vh;
    position : relative;
    background : black;
    /*margin-bottom:10px;*/
    
}

.rec_r2{
    border : 2px solid blue;
    height : 78vh;
    position : relative;
    /*margin-bottom:10px;*/
    
}
.rec_c1{
    border:2px solid red;
    width:30%;
    height : 100% ;
    float : left;
}

.rec_c2{
    border:2px solid red;
    width:70%;
    height : 100% ;
    float : right;

}
div:after{
    content: "";
    display: table;
    clear: both;
}

.rec_c1l{
    font-size: 24px;
}

.rec_c1r1 {
    border : 2px solid blue;
    height : 7vh;
    position : relative;
    
}
.rec_c1r2 {
    border : 2px solid blue;
    height : 5vh;
    position : relative;

    
}
.rec_c1r3 {
    border : 2px solid blue;
    height : 7vh;
    position : relative;
    
}

.rec_c1r4{
    border : 2px solid blue;
    height : 66vh;
    position : relative;
    background : grey;
}

.doc_r1 {
    background : grey;
    text-align : center;
    font-size: 30px;
    min-height : 5vh;
    position : relative;
    width : 100%;

    
}
.doc_r2 {
    border : 2px solid blue;
    height : 5vh;
    background : white;
    
}

.doc_r3 {
    border : 2px solid blue;
    height : 73vh;
    background : white;
}


