/*input[type=checkbox] + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  }
  
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox] + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
  }
  
  input[type=checkbox] + label:active:before {
    transform: scale(0);
  }
  
  input[type=checkbox]:checked + label:before {
    background-color: lightskyblue;
    border-color: lightskyblue;
    color: #fff;
  }
  
  input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }
  
  input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
  }*/

  /* Hide the default checkbox */
.login_doctor input[type=checkbox] {
  display: none;
}

/* Draw our custom check box */
.login_doctor {
  font-size: 16px;
  line-height: 20px;
}

.login_doctor label {
  cursor: pointer;
}
.login_doctor label:before {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  content: "\00a0";
  text-align: center;
  background: #eee;
}
.login_doctor label:hover::before{
  background: #aaa;
}

/* On check */
.login_doctor input:checked ~ label:before {
  content: "\2713";
  background: #3f6cb5;
  color: #fff;
}