.topdiv{
    height:90px;
    background-color: red;
  }
  .divBlocking{
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    cursor: wait;
    background-color:rgba(201, 76, 76, 0.3);
    z-index: -1;
  }